.homepagelink {
  border: 1px solid white;
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
  width: 50%;
}

body {
  background-color: #F7EDF0; /* Replace with your desired background color */
}

.role-dropdown {
  height: 39.5px;
  margin: 5px;
  padding: 10px;
  color: FieldText;
}

.my-table {
  border-collapse: collapse;
  width: 90%;
}

.my-table th,
.my-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.my-table th {
  background-color: #f2f2f2;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin-right: 10px;
}

.card:last-child {
  margin-right: 0;
}

.card:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 0 2px #007bff;
  outline: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.planning {
  border-color: #dc3545;
}

.in-progress {
  border-color: #ffc107;
}

.done {
  border-color: #28a745;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.status {
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}