body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 250px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: black;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form input,
button {
  padding: 10px;
  margin: 5px;
}

@media only screen and (min-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  form {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
