:root {
  --primary: rgb(0, 30, 60);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 250px;
}

* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: var(--primary);
  color: white;
  max-height: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: var(--primary);
  color: white;
  max-height: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media only screen and (min-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  form {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}


.project-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 50px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.project-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.project-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.project-details span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 25%;
  color: #333;
}
