.activeStyle {
  color: whitesmoke;
  cursor: default;
}

.inactiveStyle {
  color: #66b2ff;
}

.navigation {
  display: flex;
}

.navigation a {
  padding: 10px;
  text-decoration: none;
}

.header {
  img {
    position: relative;
    transform: translateY(15%);
    top: 0;
    z-index: 10;
  }
}
