.activeStyle {
  color: rgba(30, 30, 30, 0.514);
  cursor: default;
}

.inactiveStyle {
  color: rgb(0, 0, 0);
}

.navigation {
  display: flex;
}

.navigation a {
  padding: 10px;
  text-decoration: none;
}

.header {
  background-color: #f4afab; /* Replace with your desired header background color */
  color: #000000; /* Replace with your desired header text color */
  height: 7vh;
  img {
  }
}
